@import url(./styles/borders.css);
@import url(./styles/colors.css);
@import url(./styles/default.css);
@import url(./styles/hovers.css);
@import url(./styles/layout.css);
@import url(./styles/positioning.css);
@import url(./styles/sizing.css);
@import url(./styles/text.css);

.header {
  height: 87px;
  margin: 0 10rem;
}

.content {
  height: calc(100vh - 90px);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(bg.png);
}
