.white {
  color: white;
}
.green {
  color: green;
}
.black {
  color: black;
}
.bg-white {
  background-color: white;
}
.bg-green {
  background-color: green;
}
.bg-purple {
  background-color: #7960ee;
}
