/* flex */
.flex-space-even {
  display: flex;
  justify-content: space-evenly;
}
.flex-space-btwn {
  display: flex;
  justify-content: space-between;
}
.flex-just-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-hor-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-vert-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-column {
  flex-direction: column;
}

/* margin */
.margin-100 {
  margin: 1rem;
}
.margin-050 {
  margin: 0.5rem;
}
.margin-025 {
  margin: 0.25rem;
}
.margin-000 {
  margin: 0;
}

.margin-top-100 {
  margin-top: 1rem;
}

.margin-bottom-100 {
  margin-bottom: 1rem;
}

.margin-ver-100 {
  margin: 1rem 0rem;
}

.margin-ver-050 {
  margin: 0.5rem 0rem;
}

.margin-ver-025 {
  margin: 0.25rem 0rem;
}

/* margin horizontal */
.margin-hor-100 {
  margin: 0rem 1rem;
}
.margin-hor-050 {
  margin: 0rem 0.5rem;
}
.margin-hor-025 {
  margin: 0rem 0.25rem;
}

/* padding */
.padding-100 {
  padding: 1rem;
}
.padding-050 {
  padding: 0.5rem;
}
.padding-025 {
  padding: 0.25rem;
}

.height-100 {
  height: 100%;
}

.width-content {
  width: fit-content;
}
