@import url(../../styles/index.css);

.app-content {
  height: calc(100vh - 88px);
}
.card {
  border-radius: 10px;
  background-color: #2d2b2f;
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
}

.playlist {
  display: flex;
  flex-wrap: wrap;
}

.playlists {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
