@import url(../../styles/index.css);

.app-content {
  height: calc(100vh - 88px);
}
.card {
  border-radius: 5px;
  border: solid 1px;
  background-color: rgb(201, 201, 201);
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  word-wrap: normal;
}

.playlist {
  display: flex;
  flex-wrap: wrap;
}

.playlists {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
